---
const { title } = Astro.props;
---

<div class="section">
    <div class="section-header">
        <span class="section-title">{title}</span>
        <div class="section-line"></div>
    </div>
    <div class="subsection">
        <slot />
    </div>
</div>

